*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, #17b0fd, #02317d);
}

h1{
    color: white;
}

button{
    padding: 15px 25px;
    margin-top: 30px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: black;
    color: white;
    cursor: pointer;
}

p{
    margin-top: 30px;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
}

b{
    padding: 8px;
    border-radius: 30%;
    border: 1px solid black;
    background-color: black;
    color: white;
}

button:active{
    transform: scale(0.9);
}